<> <http://iiif.io/api/presentation/2#hasImageAnnotations> _:c14n18 .
_:c14n18 <http://www.w3.org/1999/02/22-rdf-syntax-ns#first> _:c14n12 .
_:c14n12 <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://www.w3.org/ns/oa#Annotation> .
_:c14n12 <http://www.w3.org/ns/oa#hasBody> <{{resourceURI}}> .
_:c14n12 <http://www.w3.org/ns/oa#hasTarget> <> .
_:c14n12 <http://www.w3.org/ns/oa#motivatedBy> <http://iiif.io/api/presentation/2#painting> .
_:c14n18 <http://www.w3.org/1999/02/22-rdf-syntax-ns#rest> <http://www.w3.org/1999/02/22-rdf-syntax-ns#nil> .
<> <http://iiif.io/api/presentation/2#hasLists> _:c14n7 .
_:c14n7 <http://www.w3.org/1999/02/22-rdf-syntax-ns#first> <{{listURI}}> .
_:c14n7 <http://www.w3.org/1999/02/22-rdf-syntax-ns#rest> <http://www.w3.org/1999/02/22-rdf-syntax-ns#nil> .
<> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://iiif.io/api/presentation/2#Canvas> .
<> <http://www.w3.org/2000/01/rdf-schema#label> "{{canvasLabel}}" .
<> <http://www.w3.org/2003/12/exif/ns#height> "{{canvasHeight}}"^^<http://www.w3.org/2001/XMLSchema#integer> .
<> <http://www.w3.org/2003/12/exif/ns#width> "{{canvasWidth}}"^^<http://www.w3.org/2001/XMLSchema#integer> .