<> <http://iiif.io/api/presentation/2#metadataLabels> _:c14n13 .
_:c14n13 <http://www.w3.org/1999/02/22-rdf-syntax-ns#first> _:c14n4 .
_:c14n4 <http://www.w3.org/1999/02/22-rdf-syntax-ns#value> "J.F. Blumenbach"  .
_:c14n4 <http://www.w3.org/2000/01/rdf-schema#label> "Author"  .
_:c14n13 <http://www.w3.org/1999/02/22-rdf-syntax-ns#rest> _:c14n8 .
_:c14n8 <http://www.w3.org/1999/02/22-rdf-syntax-ns#first> _:c14n17 .
_:c14n17 <http://www.w3.org/1999/02/22-rdf-syntax-ns#value> "Göttingen: 1780"@en .
_:c14n17 <http://www.w3.org/2000/01/rdf-schema#label> "Published" .
_:c14n8 <http://www.w3.org/1999/02/22-rdf-syntax-ns#rest> <http://www.w3.org/1999/02/22-rdf-syntax-ns#nil> .