<> <http://purl.org/dc/elements/1.1/format> "image/jpeg" .
<> <http://rdfs.org/sioc/services#has_service> <{{serviceURI}}{{collectionid}}.{{resourceid}}> .
<> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://purl.org/dc/dcmitype/Image> .
<> <http://www.w3.org/2003/12/exif/ns#height> "{{imgheight}}"^^<http://www.w3.org/2001/XMLSchema#integer> .
<> <http://www.w3.org/2003/12/exif/ns#width> "{{imgwidth}}"^^<http://www.w3.org/2001/XMLSchema#integer> .