<> <http://www.ebu.ch/metadata/ontologies/ebucore/ebucore#filename> "{{filename}}" .
<> <http://purl.org/dc/elements/1.1/format> "{{formatName}}" .
<> <http://rdfs.org/sioc/services#has_service> <{{serviceURI}}> .
<> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://purl.org/dc/dcmitype/Image> .
<> <http://www.w3.org/2003/12/exif/ns#height> "{{imgHeight}}"^^<http://www.w3.org/2001/XMLSchema#integer> .
<> <http://www.w3.org/2003/12/exif/ns#width> "{{imgWidth}}"^^<http://www.w3.org/2001/XMLSchema#integer> .