<> <http://iiif.io/api/presentation/2#hasCanvases> {{first-bnode}}
{{first-bnode}} <http://www.w3.org/1999/02/22-rdf-syntax-ns#first> {{first-res-uri}}
{{list-bnode}} <http://www.w3.org/1999/02/22-rdf-syntax-ns#rest> {{rest-bnode}}
{{rest-bnode}} <http://www.w3.org/1999/02/22-rdf-syntax-ns#first> {{rest-res-uri}}