<> <http://www.w3.org/ns/oa#hasBody> <{{resourceContainerURI}}> .
<> <http://www.w3.org/ns/oa#hasTarget> <{{canvasURI}}> .
<> <http://www.w3.org/2011/content#chars> "{{chars}}" .
<> <http://www.w3.org/ns/oa#motivatedBy> <http://www.w3.org/ns/oa#linking> .